.wrapper-forms {
    background: #f9f9f9;
    background: -webkit-linear-gradient(280deg, #f9f9f9 55%, #f2f2f2 45%);
    background: -o-linear-gradient(280deg, #f9f9f9 55%, #f2f2f2 45%);
    background: -moz-linear-gradient(280deg, #f9f9f9 55%, #f2f2f2 45%);
    background: linear-gradient(280deg, #f9f9f9 55%, #f2f2f2 45%);
    display: grid;
    grid-template-rows: auto 7rem;
    align-items: center;
    grid-area: forms;

    .forms-container {

        @media screen and (max-width: 1239px) {
            padding: 3rem 0;
        }
        
        @media screen and (max-width: 600px) {
            padding: 3rem;
        }

        div {
            display: block;
            margin: $center;
            width: 450px;
            padding: 3rem 0;
            
            @media screen and (max-width: 600px) {
                width: 100%;
            }

            h3 {
                padding: 0 0 3rem 5rem;

                @media screen and (max-width: 600px) {
                    padding-left: 3rem;
                }
            }

            ul {
                background: white;
                padding: 3rem 5rem;
                @include rounded--corners($size: 6rem 3rem);
                @include box--shadow(0 0 4px 4px rgba($light, .3));

                @media screen and (max-width: 600px) {
                    padding: 2rem 3rem;
                }

                li {
                    margin: 2rem 0;
                    text-align: center;

                    a {
                        @include font-size(1.3, 1.3);
                    }

                    input {
                        @extend .fade;
                        width: 100%;
                        padding: 1rem 3rem;
                        background: transparent;
                        @include rounded--corners($size: 6rem 3rem);
                        border-bottom: 3px solid rgba($light, .4);
                        color: $dark;

                        @media screen and (max-width: 600px) {
                            padding: 1rem 2rem;
                        }

                        &:hover {
                            border-bottom: 3px solid rgba($blue, 1);
                        }

                        &:focus {
                            border-bottom: 3px solid rgba($dark-blue, 1);
                            @include box--shadow(0 0 3px 3px rgba($light, .2));
                            background: #fbfbfb;
                        }
                    }
                }
            }
        }
    }

    .copy {
        align-self: start;
        text-align: center;
        @include font-size(1.3, 1.3);
        color: $light;
        padding-top: 25px;

        a {
            color: $light;
            font-style: italic;
        }
    }
}